# Bulut PostgreSQL
DB_HOST=my-database.cluster-xyz.eu-central-1.rds.amazonaws.com
DB_PORT=5432
DB_USER=prod_user
DB_PASS=prod_super_secret
DB_NAME=gatling_prod

# Bulut Redis
REDIS_HOST=my-redis.cache.amazonaws.com
REDIS_PORT=6379

# Bulut InfluxDB
INFLUX_URL=https://eu-central-1-1.aws.cloud2.influxdata.com
INFLUX_TOKEN=cloud-token
INFLUX_ORG=my-org
INFLUX_BUCKET=metrics_prod

# App Configs
LLM_API_KEY=sk-...
JWT_SECRET=production_secret_key
