# Postgres
DB_USER=gatling
DB_PASS=gatling_secret
DB_NAME=gatling_db

# InfluxDB
INFLUX_ORG=gatling-org
INFLUX_BUCKET=metrics
INFLUX_TOKEN=my-super-secret-auth-token

# App Configs
LLM_API_KEY=sk-your-llm-key
JWT_SECRET=super_secret_jwt_key_123!
